/* Component
   ============================================ */

header {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(20px);
}

header nav {
  width: 50%;
  margin-left: auto;
}

header .global-menu.flex-box {
  justify-content: flex-end;
}

header .global-menu li {
  display: inline-block;
}

header .global-menu li + li{
  margin-left: 3vw;
}

header .global-menu li i {
  font-size: 1.5em;
}

/* Layout
   ============================================ */

.inner {
  max-width: 1000px;
  width: 100%;
  margin: auto;
}

.flex-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}


/* ============================================
   タブレット
   ============================================ */

@media screen and (max-width: 1000px) {

  /* Layout
     ============================================ */

  .inner {
    width: 92%;
  }
}