.description>p {
  font-size: 18px;
  line-height: 1.8;
}

.description.balloon {
  position: relative;
  padding: 15px 20px;
  border-radius: 20px;
  background-color: #FFF6C6;
}

.description.balloon::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -90px;
  transform: translateY(-50%);
  display: block;
  border-top: 20px solid transparent;
  border-right: 50px solid #FFF6C6;
  border-bottom: 20px solid transparent;
  border-left: 50px solid transparent;
}

.visual img {
  margin: auto;
}

.how-to-get ol>li {
  margin-top: 30px;
}

.how-to-get ol>li.flex-box {
  align-items: flex-start;
}

.how-to-get .img-box {
  width: 30%;
}

.how-to-get .description {
  width: 65%;
}

.trophy-list table {
  margin: 30px auto;
  border: 1px solid rgb(209, 184, 44);
  border-collapse: collapse;
  border-spacing: 0;
}

.trophy-list table tr>* {
  padding: 10px 20px;
  border-bottom: 1px solid rgb(209, 184, 44);
}

.trophy-list table th {
  background-color: rgb(255, 249, 213);
}

.trophy-list table td img {
  margin: auto;
}

.trophy-list table tr>*+* {
  border-left: 1px solid rgb(209, 184, 44);
  font-size: 18px;
}


/* ============================================
   タブレット
   ============================================ */

@media screen and (max-width: 1000px) {}

/* ============================================
   スマートフォン
   ============================================ */

@media screen and (max-width: 560px) {

  main section.about {
    margin-top: 60px;
  }


  .about .description.balloon {
    margin-top: 40px;
  }

  .description.balloon::before {
    top: -42px;
    left: -17px;
    transform: translateY(0) rotate(90deg);
    z-index: -1;
  }

  .how-to-get ol>li.flex-box {
    justify-content: center;
  }

  .how-to-get ol .img-box {
    width: 100%;
  }

  .how-to-get ol .img-box img {
    margin: auto;
  }

  .how-to-get .description {
    margin-top: 10px;
    width: 100%;
  }

  .trophy-list table tr>* {
    padding: 7px 13px;
  }
}